<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel = "stylesheet" type="text/css" href="pagina3.css">
    </head>
    <body>
            <h1>Here it comes once again</h1>
            <p><em>Agora vou explicar o por que das fotos</em><br></p>
            <p>as duas primeiras foi no mesmo dia, que foi um dos melhores dias de mi vida<br></p>
            <p>a moça de cabelo curto é a Julinha (que também esta no curso)<br></p>
            <p>ja a de cabelo loiro cacheado é a Ana<br></p>
            <p>Ana não mora aqui em bsb, ela morava porem se mudou para florianopolis<br></p>
            <p>nesse dia eu tinha dois rolês, 1 era encontrar a Ana junto com a julia<br></p>
            <p>o outro era ir pra casa de outra amiga junto com a Julinha<br></p>
            <p>e nessa foto final sou eu criancinha numa festa junina :)<br></p>
        <div style="text-align: center;">
                <img src="bli.jpg" width="300" height="250"/>
                <img src="bli.jpg" width="300" height="250"/>
                <img src="bli.jpg" width="300" height="250"/>
        </div>
        <p>para continuar click no link abaixo :)</p>
    <p><a class="index1" href="/">parte 1</a></p>
    <p><a class="index2" href="/Pagina2">parte 2</a></p>
    <div style="text-align: center;">
        <form method="post" th:action="@{/logout}">
            <button class="index2" type="submit" value="Sair">
                Sair
            </button>
        </form>
    </div>
    </body>
</html> 