p{
    color: rgb(252, 255, 87);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(63, 51, 59);
    margin: 7px;
    text-align: center;
}
img{
    border: 15px;
    border-style: solid;
    border-color: rgb(187, 255, 109);

}
h1{
    color: rgb(190, 192, 45);
    background-color:  rgb(63, 51, 59);;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    text-align: center;
}
body{
    background-color:rgb(63, 51, 59);;
}
.index1{
    color:  black;
    border-bottom: transparent;
    border-style: groove;
    border-width: 1px;
    background: rgb(179, 203, 255);
    padding: 10px;}
    .index2{
    border-top: transparent;
    color: black;
    border-width: 1px;
    border-style: groove;
    background: rgb(179, 203, 255);
    padding: 10px;}